<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Agenda - Home</title>
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex" action="" method="POST">
            <input class="form-control me-2" type="search" placeholder="Buscar Contato" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <h4 style="text-align: center; margin-right: 16.5%;">{{ "Usuario: " + usuario.nome + " Id: " }}
            {{ usuario.identificador}}</h4>
        <a href="/logout" role="button" class="btn btn-danger">Sair</a>
    </div>
</nav>
<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h1>Contatos<span class="badge badge-primary badge-pill"><a href="/contact/add" role="button"
                                                                        class="btn btn-primary btn-sm">&nbsp;<strong>+</strong>&nbsp;</a></span>
            </h1>
            <ul class="list-group">
                {% for contato in usuario.contatos if usuario.contatos %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ contato.nome }}
                    <span class="badge badge-primary badge-pill">
                        <button type="button" class="btn btn-outline-primary btn-sm"
                                id="{{ contato.dados() }}"
                                onclick=verContato(this.id)>Ver </button>
                        <button type="button" onclick=editarContato(this.id) id="update/{{ contato.nome }}"
                                class="btn btn-outline-success btn-sm"
                        >Editar</button>&nbsp;
                        <button type="button" onclick=deletarContato(this.id) id="delete/{{ contato.nome }}"
                                class="btn btn-outline-danger btn-sm">Apagar</button></span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-6">
            <h1>Grupos<span class="badge badge-primary badge-pill"><a href="/group/add" role="button"
                                                                      class="btn btn-primary btn-sm">&nbsp;<strong>+</strong>&nbsp;</a></span>
            </h1>
            <ul class="list-group">
                {% for grupo in usuario.grupos if usuario.grupos %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ grupo.nome }}
                    <span class="badge badge-primary badge-pill">
                        <button type="button" onclick=verGrupo(this.id) id="{{ grupo.dados() }}"
                                class="btn btn-outline-primary btn-sm">Ver</button>
                        <button type="button" onclick=editarGrupo(this.id) id="update/{{ grupo.nome }}"
                                class="btn btn-outline-success btn-sm">Editar</button>&nbsp;
                        <button type="button" onclick=deletarGrupo(this.id) id="delete/{{ grupo.nome }}"
                                class="btn btn-outline-danger btn-sm">Apagar</button></span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="alert alert warning" role="alert">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<script>
    function deletarContato(nome_clicado) {
        let confirmacao = confirm("Tem certeza que quer Deletar?");
        if (confirmacao) {
            window.location.href = "/contact/" + nome_clicado
        }
    }

    function editarContato(nome_clicado) {
        window.location.href = "/contact/" + nome_clicado
    }

    function verContato(dados) {
        let values = dados.split('/')
        window.alert('Nome: ' + values[0] + '\nEndereço: ' + values[1] + '\nCidade: ' + values[2] + '\nCEP: '
            + values[3] + '\nTelefone: ' + values[4] + '\nEmail: ' + values[5])
    }

    function deletarGrupo(nome_clicado) {
        let confirmacao = confirm("Tem certeza que quer Deletar?");
        if (confirmacao) {
            window.location.href = "/group/" + nome_clicado
        }
    }

    function editarGrupo(nome_clicado) {
        window.location.href = "/group/" + nome_clicado
    }

    function verGrupo(dados) {
        let values = dados.split('/')
        window.alert('Nome do Grupo: ' + values[0] + '\nDescrição: ' + values[1] + '\nContatos: '
            + values[2])
    }
</script>
</body>
</html>